In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv('database.csv')

/home/ania/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (9,12,15,17) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.head()

,Record ID,Incident Year,Incident Month,Incident Day,Operator ID,Operator,Aircraft,Aircraft Type,Aircraft Make,Aircraft Model,...,Fuselage Strike,Fuselage Damage,Landing Gear Strike,Landing Gear Damage,Tail Strike,Tail Damage,Lights Strike,Lights Damage,Other Strike,Other Damage
0,127128,1990,1,1,DAL,DELTA AIR LINES,B-757-200,A,148,26,...,0,0,0,0,1,1,0,0,0,0
1,129779,1990,1,1,HAL,HAWAIIAN AIR,DC-9,A,583,90,...,0,0,0,0,0,0,0,0,1,0
2,129780,1990,1,2,UNK,UNKNOWN,UNKNOWN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
3,2258,1990,1,3,MIL,MILITARY,A-10A,A,345,NaN,...,0,0,0,0,0,0,0,0,0,0
4,2257,1990,1,3,MIL,MILITARY,F-16,A,561,NaN,...,0,0,0,0,0,0,0,0,0,0

In [4]:
df.columns

Index(['Record ID', 'Incident Year', 'Incident Month', 'Incident Day',
       'Operator ID', 'Operator', 'Aircraft', 'Aircraft Type', 'Aircraft Make',
       'Aircraft Model', 'Aircraft Mass', 'Engine Make', 'Engine Model',
       'Engines', 'Engine Type', 'Engine1 Position', 'Engine2 Position',
       'Engine3 Position', 'Engine4 Position', 'Airport ID', 'Airport',
       'State', 'FAA Region', 'Warning Issued', 'Flight Phase', 'Visibility',
       'Precipitation', 'Height', 'Speed', 'Distance', 'Species ID',
       'Species Name', 'Species Quantity', 'Flight Impact', 'Fatalities',
       'Injuries', 'Aircraft Damage', 'Radome Strike', 'Radome Damage',
       'Windshield Strike', 'Windshield Damage', 'Nose Strike', 'Nose Damage',
       'Engine1 Strike', 'Engine1 Damage', 'Engine2 Strike', 'Engine2 Damage',
       'Engine3 Strike', 'Engine3 Damage', 'Engine4 Strike', 'Engine4 Damage',
       'Engine Ingested', 'Propeller Strike', 'Propeller Damage',
       'Wing or Rotor Strike', 'Wing or Rotor Damage', 'Fuselage Strike',
       'Fuselage Damage', 'Landing Gear Strike', 'Landing Gear Damage',
       'Tail Strike', 'Tail Damage', 'Lights Strike', 'Lights Damage',
       'Other Strike', 'Other Damage'],
      dtype='object')

In [15]:
#df['Species ID']

In [5]:
df['Flight Impact'].value_counts()

NONE                     88082
PRECAUTIONARY LANDING     6145
OTHER                     2423
ABORTED TAKEOFF           2352
ENGINE SHUT DOWN           248
ENGINE SHUTDOWN            215
Name: Flight Impact, dtype: int64

In [9]:
df['Aircraft Damage'].value_counts()

0    159135
1     14969
Name: Aircraft Damage, dtype: int64

In [11]:
df['Injuries'].value_counts()

1.0      178
2.0       42
5.0        2
7.0        2
4.0        2
3.0        2
100.0      1
Name: Injuries, dtype: int64

In [12]:
df['Species Name'].value_counts()

UNKNOWN MEDIUM BIRD            38531
UNKNOWN SMALL BIRD             32981
MOURNING DOVE                   7653
GULL                            6580
UNKNOWN BIRD                    6400
KILLDEER                        4562
AMERICAN KESTREL                4476
BARN SWALLOW                    4215
HORNED LARK                     3952
EUROPEAN STARLING               3915
SPARROW                         3152
ROCK PIGEON                     2893
UNKNOWN LARGE BIRD              2789
RED-TAILED HAWK                 2254
EASTERN MEADOWLARK              1829
CANADA GOOSE                    1574
RING-BILLED GULL                1531
CLIFF SWALLOW                   1485
HAWK                            1313
BLACKBIRD                       1281
HERRING GULL                    1199
BARN OWL                        1118
WESTERN MEADOWLARK              1072
SWALLOW                         1053
DOVE                            1041
WHITE-TAILED DEER               1021
AMERICAN ROBIN                   957
PACIFIC GOLDEN-PLOVER            909
MALLARD                          877
PERCHING BIRDS                   867
                               ...
PACIFIC LOON                       1
CHICKEN TURTLE                     1
TROPICAL MOCKINGBIRD               1
RUFFED GROUSE                      1
WHITE-BELLIED SEA-EAGLE            1
FORK-TAILED STORM-PETREL           1
ROSEATE TERN                       1
LAGOMORPHS (RABBITS, HARES)        1
OLIVE-THROATED PARAKEET            1
PUFFINS                            1
TOWHEES                            1
ALLEN'S HUMMINGBIRD                1
CASSIN'S FINCH                     1
GRAY HERON                         1
ALLIGATOR SNAPPING TURTLE          1
CLARK'S GREBE                      1
INTERMEDIATE EGRET                 1
LONG-LEGGED MYOTIS                 1
ANTILLEAN NIGHTHAWK                1
CUCKOOS, ROADRUNNERS, ANIS         1
LAPPET-FACED VULTURE               1
PICAZURO PIGEON                    1
NORTHERN SHRIKE                    1
BAIRD'S SPARROW                    1
PHILIPPINE DUCK                    1
HERMIT WARBLER                     1
LEAST BITTERN                      1
YELLOW-BELLIED MARMOT              1
HARLEQUIN DUCK                     1
GRAY-HEADED CHICKADEE              1
Name: Species Name, Length: 715, dtype: int64

In [13]:
df[df['Aircraft Damage']==1]['Species Name'].value_counts()

UNKNOWN MEDIUM BIRD          4243
GULL                         1095
UNKNOWN LARGE BIRD           1063
UNKNOWN SMALL BIRD            952
WHITE-TAILED DEER             852
CANADA GOOSE                  773
UNKNOWN BIRD                  445
RED-TAILED HAWK               333
TURKEY VULTURE                329
DUCK                          279
ROCK PIGEON                   255
HAWK                          255
GEESE                         214
MOURNING DOVE                 208
MALLARD                       197
NEW WORLD VULTURES            191
EUROPEAN STARLING             130
RING-BILLED GULL              123
HERRING GULL                  118
SNOW GOOSE                     99
BLACK VULTURE                  98
BALD EAGLE                     88
BLACKBIRD                      80
GREAT BLUE HERON               78
DUCKS, GEESE, SWANS            70
MULE DEER                      70
NORTHERN PINTAIL               69
OSPREY                         68
AMERICAN ROBIN                 64
AMERICAN COOT                  57
                             ...
MARBLED GODWIT                  1
MARSH WREN                      1
BAIRD'S SANDPIPER               1
PIPING PLOVER                   1
RAILS                           1
ARMADILLO                       1
EURASIAN BUZZARD                1
HOODED WARBLER                  1
PTARMIGANS                      1
LITTLE BLUE HERON               1
HUDSONIAN GODWIT                1
BLACK-HEADED GULL               1
FLORIDA SOFT SHELL TURTLE       1
CORMORANTS                      1
SONG SPARROW                    1
AMERICAN REDSTART               1
AMERICAN ALLIGATOR              1
NORTHERN SAW-WHET OWL           1
SOUTHERN LAPWING                1
LONG-BILLED CURLEW              1
CANIDS                          1
UNKNOWN BIRD OR BAT             1
GRAY HERON                      1
EASTERN TOWHEE                  1
HAWAIIAN GOOSE                  1
AUSTRALIAN PELICAN              1
SEMIPALMATED SANDPIPER          1
HAWAIIAN HAWK                   1
LEAST SANDPIPER                 1
LAPPET-FACED VULTURE            1
Name: Species Name, Length: 348, dtype: int64

In [17]:
df[(df['Aircraft Damage']==1) & (df['Species Name']=='WHITE-TAILED DEER')]['Flight Phase'].value_counts()

LANDING ROLL    540
TAKEOFF RUN     196
APPROACH         65
CLIMB            30
TAXI             11
LOCAL             3
ARRIVAL           1
Name: Flight Phase, dtype: int64

In [18]:
df[(df['Aircraft Damage']==1) & (df['Species Name']=='WHITE-TAILED DEER')]['Airport'].value_counts()

MORRISTOWN MUNICIPAL ARPT                              13
BALTIMORE/WASH INTL THURGOOD MARSHAL ARPT              11
EAST HAMPTON ARPT                                      11
NORTH CENTRAL WEST VIRGINIA ARPT                       10
UNKNOWN                                                 9
GREATER ROCHESTER INTL                                  8
WASHINGTON COUNTY                                       8
CHARLESTON EXECUTIVE ARPT                               7
LEESBURG EXECUTIVE ARPT                                 7
ESSEX COUNTY AIRPORT                                    7
WILLIAMSPORT REGIONAL ARPT                              6
GENERAL DOWNING-PEORIA INTL ARPT                        6
DANBURY MUNICIPAL ARPT                                  6
NEWPORT NEWS/WILLIAMSBURG INTL                          6
READING REGNL ARPT/CARL A SPAATZ FIELD                  5
TRI-STATE ARPT/MILTON J. FERGUSON FIELD                 5
MORGANTOWN MUNICIPAL ARPT-WALTER L. BILL HART FIELD     5
ROSTRAVER                                               5
WINCHESTER REGIONAL ARPT                                5
ANOKA COUNTY-BLAINE                                     5
FULTON COUNTY ARPT - BROWN FIELD                        5
SOLBERG-HUNTERDON                                       5
BEVERLY MUNICIPAL ARPT                                  4
PITTSBURGH INTL ARPT                                    4
MONROE COUNTY                                           4
SMYRNA ARPT                                             4
ONEIDA COUNTY ARPT                                      4
CAMDENTON MEMORIAL ARPT                                 4
ANDERSON REGIONAL                                       4
MONTAUK ARPT                                            4
                                                       ..
THIGPEN FIELD ARPT                                      1
SONORA MUNICIPAL ARPT                                   1
MC CALL MUNICIPAL ARPT                                  1
CAPITOL                                                 1
SOUTH BEND REGIONAL                                     1
KNOX COUNTY ARPT                                        1
PIKE COUNTY ARPT                                        1
FORD ARPT                                               1
NORTHEAST PHILADELPHIA ARPT                             1
DAVID'S ARPT                                            1
HANCOCK COUNTY-BAR HARBOR                               1
FREEDOM AIR FIELD                                       1
ORMOND BEACH MUNICIPAL ARPT                             1
TRI-CITY ARPT (PARSONS)                                 1
RUSK COUNTY ARPT                                        1
SUMMERSVILLE ARPT                                       1
GWINNETT COUNTY - BRISCOE FIELD                         1
BROWNWOOD REGIONAL ARPT                                 1
EASTERWOOD FIELD AIRPORT                                1
ESSEX SKYPARK                                           1
LEE C FINE MEMORIAL ARPT                                1
FINDLAY ARPT                                            1
ANDERSON MUNI-DARLINGTON FLD                            1
ROCKINGHAM COUNTY NC SHILOH ARPT                        1
VANSANT                                                 1
ALPENA COUNTY REG                                       1
SIKESTON MEMORIAL MUNICIPAL ARPT                        1
ROBERT R WELLS JR ARPT                                  1
JACKSON COUNTY ARPT                                     1
TWIN LAKES RANCH ARPT                                   1
Name: Airport, Length: 519, dtype: int64

In [21]:
df[(df['Aircraft Damage']==1) & (df['Species Name']=='GULL')]['Flight Phase'].value_counts()

APPROACH        363
CLIMB           319
TAKEOFF RUN     224
EN ROUTE         80
LANDING ROLL     70
DESCENT          18
Name: Flight Phase, dtype: int64